.header-image {
  background-color: #0a397a;
  height: 200px;
}

.outer-spacing {
  padding-top: 2.5%;
}

.header-title-outer {
  background-color: #ffc107;
  width: 20%;
}

.header-title {
  font-weight: 900;
  font-size: 2vw;
  /* color: #0a397a; */
  color: rgb(10, 61, 171);
  text-align: center;
}

/* for mobile and tablet screens */
@media only screen and (max-width: 1200px) {
  /* spacing for logo */
  .outer-spacing {
    padding-top: 10%;
  }

  .header-title-outer {
    width: 30%;
    height: 70px;
  }

  /* label text */
  .header-title {
    font-size: 4.5vw;
  }
}

/* for mobile phones */
@media only screen and (max-width: 900px) {
  .header-title {
    padding-top: 10%;
  }
}
