.about {
  padding-top: 7%;
}

.about-paragraph {
  text-align: justify;
  line-height: 1.7rem;
}
.newsLayout {
  padding: 5% 10%;
  background-color: whitesmoke;
}

.news {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  padding-top: 30px;
  height: 350px;
  padding-left: 5%;
  margin-bottom: 4%;
}

.news-title {
  margin-top: 5%;
}

.latestNews-icon-two {
  transform: rotate(-30deg);
  color: red;
}

.latestNews-icon-one {
  color: orange;
}

/* Home page Title  */
.title {
  /* color: #0a397a; */
  color: rgb(10, 61, 171);
}
