.row {
  padding-left: 0%;
}

.links-alignment {
  text-align: center;

  padding: 5%;
}

/* links css */
.links {
  color: black;
}

.links:hover {
  text-decoration: none;
  color: black;
}

.quick-icons {
  transition: transform 0.4s;
}
.quick-icons:hover {
  color: #ffc107;

  transform: scale(1.2);
}

.title-card {
  font-size: 1.5rem;
  margin-top: 5%;
}
